@model IEnumerable<EmployeeMVC.Models.Employee>

<h2>Employees</h2>

<a class="btn btn-primary" href="/Employee/Create">Add New</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.Name</td>
                <td>@emp.Department</td>
                <td>@emp.Salary</td>
                <td>
                    <a class="btn btn-warning" href="/Employee/Edit/@emp.Id">Edit</a>
                    <a class="btn btn-danger" href="/Employee/Delete/@emp.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
